* {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

:root {
  --color-button: hsl(254, 100%, 82%);
  --color-icon: #491992;
  --color-main: #99c9ff;
  --color-title: #add1fc;
}

.note-app {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--color-main);
}
/* sidebar */
.sidebar {
  border-right: solid 1px grey;
  padding: 1rem 1rem 0 1rem;
  overflow: auto;
  width: 200px;
}

.create-note-button,
.save-button,
.delete-button {
  height: 3rem;
  width: 5rem;
  background-color: var(--color-button);
  border-radius: 1rem;
  border: none;
}

.create-note-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.storage-note-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.note-entry {
  height: 5rem;
  border-radius: 5px;
  background-color: var(--color-button);
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.2);
}

.note-title {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

.note-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-date {
  width: 100%;
  text-align: right;
  font-style: italic;
  margin-top: 1rem;
  color: white;
  font-size: 0.75rem;
}

/* sidebar */

/* mainContent */

.main-content {
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.save-and-delete-button {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  height: 2rem;
  width: 2rem;
  color: var(--color-icon);
}

.create-icon {
  height: 1rem;
  width: 1rem;
  color: var(--color-icon);
}

.title-and-save {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-title {
  height: 2rem;
  font-size: 1rem;
  background-color: var(--color-title);
  border: none;
  font-weight: bold;
}

.note-entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.note-textarea {
  height: 85vh;
  background-color: var(--color-title);
  border: none;
}

@media (min-width: 700px) {
  /* sidebar */

  .sidebar {
    width: 400px;
  }

  .create-note-button {
    height: 5rem;
    font-size: 1.5rem;
  }

  .create-icon {
    height: 2rem;
    width: 4rem;
  }

  .note-entry {
    height: 8rem;
  }
  .note-title {
    font-size: 1.5rem;
  }
  .note-content {
    font-size: 1.3rem;
  }

  .note-date {
    font-size: 1.3rem;
  }

  /* sidebar */

  .title-and-save {
    flex-direction: row-reverse;
    align-items: center;
  }

  .icon {
    height: 3rem;
    width: 3rem;
  }

  .save-button,
  .delete-button {
    height: 5rem;
    width: 5rem;
  }

  .save-and-delete-button {
    justify-content: end;
    gap: 10px;
  }

  .create-title {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
  }

  .note-textarea {
    font-size: 1.2rem;
  }
}
