:root {
  --color-scarlet-textarea: #ffb7b7;
  --color-scarlet-button: #ff4d4d;
  --color-scarlet-note-entry: #fdafaf;
  --color-scarlet-hover: #ff8f8f;
  --color-scarlet-settings-background: #fcd2d2;

  --color-mint-textarea: #b7ffb7;
  --color-mint-button: #35bd35;
  --color-mint-note-entry: #b7ffb7;
  --color-mint-hover: #6aff6a;
  --color-mint-settings-background: #d2fcd2;

  --color-violetred-textarea: #ff8383;
  --color-violetred-button: #ff3a75;
  --color-violetred-note-entry: #ffc1c6;
  --color-violetred-hover: #ff6a9f;
  --color-violetred-settings-background: #fcd2e0;

  --color-softpink-textarea: #ffabff;
  --color-softpink-button: #ff4dff;
  --color-softpink-note-entry: #ffabff;
  --color-softpink-hover: #ff8eff;
  --color-softpink-settings-background: #fcd2f7;

  --color-orange-textarea: #fce7af;
  --color-orange-button: #ffb84d;
  --color-orange-note-entry: #fce7af;
  --color-orange-hover: #f5c96b;
  --color-orange-settings-background: #fdf2d2;

  --color-iceblue-textarea: #bdffff;
  --color-iceblue-button: #00dada;
  --color-iceblue-note-entry: #bdffff;
  --color-iceblue-hover: #52fafa;
  --color-iceblue-settings-background: #d2fdfd;
}

.settings-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-title);
}

.settings-title {
  font-family: "Permanent Marker";
  font-size: 2rem;
  color: var(--color-content-font);
}

.theme-color-container {
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.select-color {
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  margin: 1rem;
  cursor: pointer;
}

.scarlet-red {
  background-color: var(--color-scarlet-button);
}

.scarlet-red-textarea {
  background-color: var(--color-scarlet-textarea);
}

.scarlet-red-note-entry {
  background-color: var(--color-scarlet-note-entry);
  border-color: #ff4d4d;
}
.scarlet-red-hover:hover {
  background-color: var(--color-scarlet-hover);
}

.scarlet-red-settings-background {
  background-color: var(--color-scarlet-settings-background);
}

.mint-green {
  background-color: var(--color-mint-button);
}

.mint-green-textarea {
  background-color: var(--color-mint-textarea);
}

.mint-green-note-entry {
  background-color: var(--color-mint-note-entry);
  border-color: #35bd35;
}

.mint-green-hover:hover {
  background-color: var(--color-mint-hover);
}

.mint-green-settings-background {
  background-color: var(--color-mint-settings-background);
}

.violet-red {
  background-color: var(--color-violetred-button);
}

.violet-red-textarea {
  background-color: var(--color-violetred-textarea);
}

.violet-red-note-entry {
  background-color: var(--color-violetred-note-entry);
  border-color: #ff3a75;
}

.violet-red-hover:hover {
  background-color: var(--color-violetred-hover);
}

.violet-red-settings-background {
  background-color: var(--color-violetred-settings-background);
}

.soft-pink {
  background-color: var(--color-softpink-button);
}

.soft-pink-textarea {
  background-color: var(--color-softpink-textarea);
}

.soft-pink-note-entry {
  background-color: var(--color-softpink-note-entry);
  border-color: #ff4dff;
}

.soft-pink-hover:hover {
  background-color: var(--color-softpink-hover);
}

.soft-pink-settings-background {
  background-color: var(--color-softpink-settings-background);
}

.light-orange {
  background-color: var(--color-orange-button);
}

.light-orange-textarea {
  background-color: var(--color-orange-textarea);
}

.light-orange-note-entry {
  background-color: var(--color-orange-note-entry);
  border-color: #ffb84d;
}

.light-orange-hover:hover {
  background-color: var(--color-orange-hover);
}

.light-orange-settings-background {
  background-color: var(--color-orange-settings-background);
}

.ice-blue {
  background-color: var(--color-iceblue-button);
}

.ice-blue-textarea {
  background-color: var(--color-iceblue-textarea);
}

.ice-blue-note-entry {
  background-color: var(--color-iceblue-note-entry);
  border-color: #00dada;
}

.ice-blue-hover:hover {
  background-color: var(--color-iceblue-hover);
}

.ice-blue-settings-background {
  background-color: var(--color-iceblue-settings-background);
}

.buttonRed {
  background-color: var(--color-scarlet-button);
}
.buttonGreen {
  background-color: var(--color-mint-button);
}
.buttonViolet {
  background-color: var(--color-violetred-button);
}
.buttonPink {
  background-color: var(--color-softpink-button);
}
.buttonOrange {
  background-color: var(--color-orange-button);
}
.buttonBlue {
  background-color: var(--color-iceblue-button);
}
